p {
            color: black; 
            font-size: 20px;
             line-height: 1.3; 
        }
    

        /* p, h1 {
            margin-right: 150px; 
            margin-left: 150px; 
        } */

    h1 {
  text-align: center;
  color:black; font-size: 60px;
    }
    #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255); /* Using a named color */
    width: 100%;
    }

        body{
            margin: 0;
        }
    /* @media (max-width: 768px) {

    } */

    #lemonPic {
        width: 90%;
        max-width: 880px;
        height: auto
    }

    .headerAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 159, 159);
        max-width: 80%;
        text-align: center;
    }

    .ROSTER {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 159, 159);
        text-align: center;
    }

    #instructions img {
        width: 25%;
        height: auto;
        margin-top: 8px;
        margin-bottom: 8px;
         
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: lab(69.1% 45.4 26.11);
        width: 100%;
        text-align: center;
    }


    #ingredientCheckboxes {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

.inconsolata-default {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 3%, 4%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 52%, 42%);
}

.navbar li {
    float: left;
}

#ballimage {
    width: 25%;
}

#flagimage {
    width: 25%;
}

#rosterimage {
    width: 25%;
}

#jumpingimage {
    width: 25%;
}