body {
    width: min(800px, 90%);
    margin: 0 auto;
}

@media (min-width: 640px) {
    body {
        background-color: #eaf6ff;
    }
}

h1 {
    font-size: 2rem;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }
}

#fixed-size-grid-items ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

#fixed-size-grid-items li aside {
    width: 170px;
    margin: 5px;
    font-size: 0.8rem;
    padding: 10px;
}

#stretchable-grid-items ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-left: -10px;
    margin-right: -10px;
}

#stretchable-grid-items li {
    width: 100%;
}

@media (min-width: 480px) {
    #stretchable-grid-items li {
        width: 50%;
    }
}

@media (min-width: 640px) {
    #stretchable-grid-items li {
        width: 25%;
    }
}

#stretchable-grid-items aside {
    padding: 10px;
    font-size: 1rem;
}